.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #C69B7B;
  min-height: 100vh;
  color: white;
  font-family: 'Red Hat Mono', monospace;
  font-family: 'Roboto Slab', serif;


  
}

.card{

  width: 11rem;
  color: black;
  height: 14rem;
  margin-right: 10px;
  margin-top: 10px;
  background-color:#F7CCAC ;
}
.today{
  border: 1px solid black;
}
span{
  margin-top: 10px;
  color:#130e0ba4
}