.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #C69B7B;
  min-height: 100vh;
  color: white;
  font-family: 'Red Hat Mono', monospace;

}



