.changetheme {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.form {
  font-family: "Red Hat Mono", monospace;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-top: 250px;
}

.today {
  border: 3px solid black;
}

.light {
  background-color: #c0a999;
}
.light span {
  margin-top: 10px;
  color: #030303a4;
}

.dark {
  background-color: #3a281b;
  color: white;
}

.dark span {
  margin-top: 10px;
  color: #ebded6a4;
}
.dark .today {
  border: 3px solid #f8e7da;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 11rem;
  color: black;
  height: 14rem;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #f7ccac;
}

@media (min-width: 576px) {
  .light {
    width: 100%;
  }
  .dark {
    width: 100%;
  }
}

@media (min-width: 577px) {
  .light {
    width: 100vh;
  }
  .dark {
    height: 100vh;
  }
}
